@font-face {
	font-family: "BubbleFont";
	src: url("font/bubblebath-webfont.ttf");
}
h1{
	font-family: "BubbleFont", Gadget, sans-serif;
	color: tomato;
	animation: rainbow 1s infinite;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: tomato;}
	40%{color: yellow;}
	60%{color: greenyellow;}
	80%{color: aqua;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: tomato;}
	40%{color: yellow;}
	60%{color: greenyellow;}
	80%{color: aqua;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: tomato;}
	40%{color: yellow;}
	60%{color: greenyellow;}
	80%{color: aqua;}
	100%{color: orange;}	
}
@-webkit-keyframes rainbowBorder{
	20%{border-color: tomato;}
	40%{border-color: yellow;}
	60%{border-color: greenyellow;}
	80%{border-color: aqua;}
	100%{border-color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbowBorder{
	20%{border-color: tomato;}
	40%{border-color: yellow;}
	60%{border-color: greenyellow;}
	80%{border-color: aqua;}
	100%{border-color: orange;}	
}

/* Standar Syntax */
@keyframes rainbowBorder{
	20%{border-color: tomato;}
	40%{border-color: yellow;}
	60%{border-color: greenyellow;}
	80%{border-color: aqua;}
	100%{border-color: orange;}	
}







body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	font-family: "Arial Black", Gadget, sans-serif;
	overflow: hidden; /* Disable scrollbars */
	display: block; /* No floating content on sides */
	color: white;
}
#main-menu-items{
	font-size: 30px;
	width: 100%;
    position: absolute;
    z-index: 2;
}
#main-menu{
	background-image: url("../Data/MainBackground.png");
	text-shadow: 0px 30px 10px black;
}
.menu li button{
	animation: rainbowBorder 1s infinite;
	border: 3px solid tomato;
	border-radius: 100px;
	color:white;
	height: 80px;
	width: 160px;
	background-color: #bb8044;
	box-shadow: 0px 30px 30px black
}
.menu li button:hover{
	background-color: #eea358;
	box-shadow: 0px 70px 30px black
}
.menu li {
	padding-bottom: 50px;
}

#canvas-main {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background: gray; /* so black/white rendering is always visible */
}
#content-settings{
	margin-right: 15%;
}
.settings-button{
	bottom:0;
}
#game .screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}
#config{
	width: 35%;
	height: 37%;
    margin: auto;
    text-align: right;
    border: 1px solid silver;
}
#config ul{
	list-style-type:none;
	
}
#id-settings-back{
	float:left;
	margin-left: 1%;
    margin-bottom: 1%;
}
#id-settings-save{
	float: right;
	margin-right: 1%;
    margin-bottom: 1%;
}
#id-settings-back{
	left: 0;
}
#id-settings-save{
	right: 0;
}
.settings-button{
	width: 50px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2px;
	color: white;
	background-color: black;
}
#settings{
	text-align: center;
	font-size: 20px;
}
.config-button{
	width: 50px;
    height: 50px;
	font-size: 30px;
	border: 1px solid black;
	background-color: springgreen;
}
.config-button-clicked{
	width: 50px;
	height: 50px;
	font-size: 30px;
	border: 1px solid white;
	background-color: springgreen;
}

#game .screen.active {
	display: block;
}

#main-menu,#about,#settings {
	text-align: center;
}

.main-menu-button {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, .7);
	width: 25%;
	height: 100px;
	padding: 0px;
}

#about p {
	color: rgba(255, 255, 255, .7);
}

ul {
	padding: 0px;
}